* {
  font-family: 'Lato', sans-serif;
}
.nav {
  background: orange;
  border: black;
  text-align: left;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size: 200%;
}
.mainContent {
  border: 1px solid black ;
  align-content: center;
  padding-top: 10px;
  height: 30%;
}

.product {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  border: 1px solid black;
  width: 28%;
  margin: .5rem;
  padding:1rem;
}

.product h2 {
  text-align: center;

}

.product-image {
  text-align: center;
  width: 100%;
}

